* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
/* nav bar: */
#nav-container {
	height: 72px;
}
.nav-list li {
	display: inline-block;
	list-style: none;
}
.first-list {
	background: #131313;
	margin: 0px;
	padding: 0px;
	height: 33px;
}
.second-list {
	background: #aacbde;
	margin: 0px;
	padding: 0px;
	height: 55px;
}
/* first section: */
.section-one {
    background-color: #abc123; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 240px 240px; 
}
.left-img{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:3;
}
.right-imgs {
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}
