* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
/* nav bar: */
#nav-container {
	height: 72px;
}
.nav-list li {
	display: inline-block;
	list-style: none;
}
.first-list {
	background: #131313;
	margin: 0px;
	padding: 0px;
	height: 33px;
}
.second-list {
	background: #aacbde;
	margin: 0px;
	padding: 0px;
	height: 55px;
}
/* section one : */
.section-one {
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 240px 240px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.left-img{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.right-img-top {
    background-color:blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}
.right-img-bottom {
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
}
/* section two and section five: */
.section-two, .section-five {
	background: #accefe;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px 240px;
    grid-gap: 10px;
}
.col-1 {
	background: #03c56d;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.col-2 {
	background: #03c56d;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.col-3 {
	background: #03c56d;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
.col-4 {
	background: #03c56d;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
.col-5 {
	background: #03c56d;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.col-6 {
	background: #03c56d;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.col-7 {
	background: #03c56d;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.col-8 {
	background: #03c56d;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
/* section three:*/
.section-three {
    background-color:pink;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 270px;
}
.s3-title {
    background: #3d3a6d;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.s3-links {
    background: #3d3a6d;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
.s3-10m {
    background: greenyellow;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
} 
.s3-23m {
    background: greenyellow;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.s3-165m {
    background: greenyellow;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.s3-2m {
    background:greenyellow;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
/* section four: */
.section-four {
  background: #fecadc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
}
.app {
	background: #386388;
}
.gear {
	background: #386388;
}
.tech {
	background: #386388;
}
.creative {
	background: #386388;
}
.podium {
	background: #386388;
}
.insight {
	background: #386388;
}
.launch {
	background: #386388;
}
.distract {
	background: #386388;
}
/*footer*/
.parent-footer {
  background: #c70b4d;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 200px 100px;
}
.footer-top {
    background-color: #131313;
}
.footer-bottom {
    background-color: black;
}
/* medium screen width less than 1023px: first break point */
@media (max-width: 1023px) and (min-width: 768px) {
/* section one : */
	.section-one {
		background-color: rgb(15, 236, 100);
		grid-template-rows: 60vh 60vh;
	}
/* section two and section five: */
.section-two, .section-five {
	background: #240221;
	grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 240px 240px 240px;
    grid-gap: 10px;
}
.col-4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.col-5 {
	grid-column-start: 2;
	grid-column-end: 3;
}
.col-6 {
	grid-column-start: 3;
	grid-column-end: 4;
}
.col-7 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}
.col-8 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}	

}

